{% extends "layoutAdmin.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminRegistration.css">
{% endblock %}

{% block content %}

	<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			<h1 class="admin-registration-title text-danger text-center fs-1 mt-5">Ajouter participant</h1>
			<form action="" method="POST">
				<label></label>
				<select class="form-select form-select-lg mb-3" name="member_id">
					{% for member in members %}
						<option value="{{member.id}}">{{member.firstname}}
							{{member.lastname}}</option>
					{% endfor %}
					<input type="hidden" value="{{route.id}}" name="route_id">
				</option>
			</select>
			<button class="btn btn-danger">Valider</button>
		</form>

	</div>
</div>{% endblock %}
