{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/members.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-8 ">
				<h1 class="officeTitle text-danger text-center fs-1 mt-5">LE BUREAU</h1>
				<div class=" detailOffice   w-100">
					

                    
				</div>
				
                <h2 class="membersTitle text-danger text-center fs-1 mt-5">Les membres actifs</h1>
				<div class=" detailMembers   w-100">
					
				</div>

			</div>
		</div>
	</div>

{% endblock %}
