{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block content %}

	<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-8 ">
				<h1 class="formTitle text-danger text-center fs-1 mt-5">FORMULAIRE DE CONTACT</h1>
				<ul class="text-center mt-5">
					{% for error in errors %}
						<li class="text-danger">
							{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container mt-2">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6 ">

				<form action="" method="post">
					<div class="form-group mt-2">
						<label class="formLabel" for="fullName">Nom :</label>
						<input type="text" class="form-control formContent" name="title" id="title" placeholder="Titre" value="{{ actuality.title }}" required>
					</div>
					<div class="form-group mt-2">
						<label class="formLabel" for="message">Votre message :</label>
						<input type="textarea" class="form-control formContent" name="content" id="content" placeholder="Décrivez ce que contient votre actualité" value="{{ contact.fullName ?? '' }}" required>
					</div>
					<button type="submit" class="btn btn-outline-success mt-2">Envoyez</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
