<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 mb-0 fixed-top">
	<div class="container-fluid ps-0 px-2">
		<div class="left bg-danger d-flex flex-wrap-reverse">
			<a class="navbar-brand text-light fw-bold d-flex justify-content-between align-items-center" href="/">
				<div class="title align-middle text-wrap mb-0 text-center ps-3">
					Les Papys 45
				</div>
				<img src="/assets/images/admin_logo.svg" alt="Logo" width="80" height="80" class="navicon d-inline-block justify-content-center align-content-center m-1 ms-2">
			</a>
		</div>

		<button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-light"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end fw-bold" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link text-light m-2" aria-current="page" href="/"><div class="nameLink">Accueil</div></a>
				<a class="nav-link text-light m-2" href="/admin/actualites"><div class="nameLink">actualités</div></a>
				<a class="nav-link text-light m-2" href="/admin/route"><div class="nameLink">sorties</div></a>
				<a class="nav-link text-light m-2" href="/admin/membres"><div class="nameLink">membres</div></a>
				<a class="nav-link text-dark m-2 btn btn-sm btn-light rounded-pill" href="/admin/logout">Se déconnecter</a>
			</div>
		</div>
	</div>
</nav>
