<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 mb-0 fixed-top">
	<div class="container-fluid ps-0 px-2">
		<div class="left bg-danger d-flex flex-wrap-reverse">
			<a class="navbar-brand text-light d-flex justify-content-between align-items-center" href="#">
				<div class="title align-middle text-wrap mb-0 text-center ps-3">
					Les Papys 45
				</div>
				<img src="../assets/images/cyclisme.png" alt="Logo" width="80" height="80" class="d-inline-block justify-content-center align-content-center m-1">
			</a>
		</div>

		<button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-light"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link text-light m-2" aria-current="page" href="#">Accueil</a>
				<a class="nav-link text-light m-2" href="/listRoute">Sorties</a>
				<a class="nav-link text-light m-2" href="#">Membres</a>
				<a class="nav-link text-light m-2" href="/contact">Contact</a>
			</div>
		</div>
	</div>
</nav>
