.fs-1, .fs-2, .fs-3{
    font-family: var(--title-font);
}

.memberpic {
    height: 6rem;

}

.tool-font {
    font-family: var(--tool-font);
}

.card-img-top {

    max-width: 8rem;
    height: auto;
}

.card-img {
    display: block;
    max-width: 8rem;
    height: auto;
    
  }

 .date {
    max-height: 5rem;

 } 

.icon {
    max-width: 2rem;
    height: auto;
}

.txtp {
    font-family: var(--content-font);
}

#ivisugpx {
    width:100%; 
    height:535px;
}

.gridImg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 20vw);
    grid-gap: 9px;
}


.gallery1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-danger {
    width:100%;
}


.icon-green {
    filter: invert(40%) sepia(91%) saturate(374%) hue-rotate(100deg) brightness(87%) contrast(92%);
} 

.icon-orange {
    filter: invert(64%) sepia(72%) saturate(3828%) hue-rotate(351deg) brightness(101%) contrast(98%);
}

.icon-red {
    filter: invert(23%) sepia(95%) saturate(1510%) hue-rotate(331deg) brightness(107%) contrast(93%);
}

.date {
    filter: invert(99%) sepia(43%) saturate(0%) hue-rotate(55deg) brightness(111%) contrast(101%);
}



@media screen and (min-width: 768px) {
    .custom-border-left {
        border-left: 0.5px solid rgb(49, 52, 57);

    }
} 

@media screen and (max-width: 768px) {
    .custom-border-bottom {
        border-bottom: 0.4px solid rgb(9, 16, 36);
        padding-block-start: 2rem;
    }
}