.formLabel {
    font-family: var(--title-font);
}

.formContent {
    font-family: var(--content-font);
}

.formTitle {
    font-family: var(--title-font); 
}

.contactFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
}