.fs-1{
    font-family: var(--title-font);
}


.card-body{
    width: 15rem;
}

.card-img {
    display: block;
    max-width: 8rem;
    height: auto;
    
  }

.card-img-top {
    display: block;
    max-width: 5rem;
    height: auto;
}

.icon {
    max-width: 1.5rem;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    vertical-align: text-top;
}

.title-font {
    font-family: var(--content-font);
}

.tool-font {
    font-family: var(--tool-font);
    font-weight: bold;
}

.icon-green {
    filter: invert(40%) sepia(91%) saturate(374%) hue-rotate(100deg) brightness(87%) contrast(92%);
} 

.icon-orange {
    filter: invert(64%) sepia(72%) saturate(3828%) hue-rotate(351deg) brightness(101%) contrast(98%);
}

.icon-red {
    filter: invert(23%) sepia(95%) saturate(1510%) hue-rotate(331deg) brightness(107%) contrast(93%);
}

.txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.badge {
    padding-block-start: 1.5px;
    padding-block-end: 1px;
    padding-inline: 4px;
}


@keyframes shaking {
    0%{
        transform : rotate(-0.5deg);
        transform : skewX(-0.5deg);
    }
    50% {
        transform : rotate(0.5deg);
        transform : skewX(0.5deg);
    }
    75% {
        transform : skewX(-0.5deg);
    }
    100% {
        transform : rotate(-0.5deg);
        transform : skewX(0deg);
    }
}


.card {
    box-shadow: 0px 5px 10px rgb(94, 94, 94);
}
.card:hover {
    box-shadow: 0px 5px 20px rgb(26, 26, 26);
    animation: shaking 0.2s;
    
}




@media screen and (min-width: 768px) {
    .custom-border-right {
        border-right: 0.4px solid rgb(9, 16, 36);
        
    }
}

@media screen and (max-width: 768px) {
    .custorm-border-bottom {
        border-bottom: 0.4px solid rgb(9, 16, 36);;
    }
}