.officeTitle {
    font-family: var(--title-font);
}

.membersTitle, .detailOffice {
    font-family: var(--content-font);
}

.officeContent {
    --font-size:0.75rem;
    font-size:var(--font-size);
}

.officeCard {
    width:150px;
}