.navbar {
    font-family: var(--tool-font);
}


.title {
    --inline-size: 150px;
    inline-size: var(--inline-size);
    font-family: var(--tool-font);
}

  
.nameLink:hover {
    animation: color 2.5s infinite ease-out;
  }

@keyframes color {
    0%{
        color: rgba(220, 53, 69, 1);
        transform: scale(1);
    }
    30% {
        color: rgba(216, 98, 104);
        transform: scale(1.05);
    }
    60% {
        color: rgb(212, 166, 168);
        transform: scale(1);
    }
    80% {
        color : rgba(216, 98, 104);
        transform: scale(1.05);
    }
}



.navbar-brand:hover .navicon {
    animation: fadeout 1.1s;
}

@keyframes fadeout {
    0%{
        display: block;
        opacity: 1;
    }
    30%{
        display: none;
        opacity: 0;
        transform: translateX(100%);
    }
    50%{
        display: none;
        opacity: 0;
        transform: translateX(-100%);
    }
    
}

    

