.speech h2 {
    font-family: var(--title-font);
    text-shadow: 1px 1px 2px #7d868d;
}

.story p {
    font-family: var(--content-font);
    line-height: 2;
}

.image {
    position: relative;
}

.image img {
    position: absolute;
    top: -4rem;
    left: -3rem;
    filter: drop-shadow(1px 1px 1px #7d868d);
    width: 100px;
    height: 90px;
}

.story p::first-letter {
    color: var(--bs-danger);
    font-size: 130%;
}

.story {
    border: 1px solid var(--bs-danger);
    border-radius: 4px;
    box-shadow: 0 5px 5px -2px #7d868d;
}

@media screen and (max-width: 650px) {

    .story p:nth-child(1) {
        margin-top: 100px;
    }

    .image img {
        top: -4rem;
        left: 10rem;
    }

}